# MongoDB Atlas example (replace user/password/cluster):
# MONGODB_URI=mongodb+srv://USER:PASSWORD@cluster0.xxxxx.mongodb.net/skribbl-clone?retryWrites=true&w=majority
MONGODB_URI=mongodb://127.0.0.1:27017/skribbl-clone

PORT=3001
